
/AlphaDemoWebApi/AlphaDemoWebApi.Model/bin
/AlphaDemoWebApi/AlphaDemoWebApi.Model/obj
/AlphaDemoWebApi/.vs/AlphaDemoWebApi/FileContentIndex
/AlphaDemoWebApi/AlphaDemoWebApi.Respository.Interface/bin
/AlphaDemoWebApi/AlphaDemoWebApi.Respository/obj
/AlphaDemoWebApi/AlphaDemoWebApi.Service.Interface/bin
/AlphaDemoWebApi/AlphaDemoWebApi.Service.Interface/obj
/AlphaDemoWebApi/AlphaDemoWebApi.Service.Tests/bin
/AlphaDemoWebApi/AlphaDemoWebApi.Service.Tests/obj
/AlphaDemoWebApi/AlphaDemoWebApi.Service/bin
/AlphaDemoWebApi/AlphaDemoWebApi.Service/obj
/AlphaDemoWebApi/AlphaDemoWebApi/bin
/AlphaDemoWebApi/AlphaDemoWebApi/obj
/AlphaDemoWebApi/packages
/AlphaDemoWebApi/AlphaDemoWebApi.Respository/bin
/AlphaDemoWebApi/AlphaDemoWebApi.Respository.Interface/obj
AlphaDemoWebApi/AlphaDemoWebApi/Web.Release.config
